body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.home-button, .login-button, .register-button {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.home-button {
  background-color: #007BFF;
}

.login-button {
  background-color: #30b330;
  cursor: pointer;
}

.register-button {
  background-color: #6C757D;
}