body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
  width: 80%;
  max-width: 500px;
}

.inline-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.inline-form label {
  font-weight: bold;
}

.inline-form input[type="email"],
.inline-form input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.inline-form input[type="color"] {
  margin-bottom: 10px;
  font-size: 16px;
}

.inline-form input[type="submit"], #return-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-top: 10px;
}

#return-button {
  background-color: #007BFF;
  color: white;
}

input[type="submit"]:hover, #return-button:hover {
  opacity: 1;
}

#games-list {
  margin-top: 20px;
}

#games {
  list-style-type: none;
  padding: 0;
}
