/* You can add global styles to this file, and also import other style files */

// --- Reset default css values --- //
@import "global-styles/css-reset";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

.bold {
  font-weight: 500;
  color: rgb(84, 109, 120);
}

mat-progress-spinner {
  margin: auto;
}


// --- Buttons --- //
@import "global-styles/styles.buttons";

// --- Mat snackbar --- //
@import "global-styles/styles.snackbar";
