// --- Buttons --- //
.main-button {
  height: 40px;
  font-size: 16px;
  font-weight: 550;
  padding: 0 20px;

  border-radius: 3px;
  border: none;
}

.main-button:hover {
  background-color: rgb(226, 230, 234);
  cursor: pointer;
}

.main-button:focus {
  outline: 2px solid rgb(240, 240, 240, 0.4);
}

.main-button:active {
  background-color: rgb(226, 230, 234, 0.8);
  cursor: pointer;
}

.main-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.small-button {
  @extend .main-button;
  width: 32.5px;
}

// Primary
.main-button-primary {
  @extend .main-button;
  background-color: rgb(0, 123, 255);
  color: white;
}

.main-button-primary:hover {
  background-color: rgb(0, 105, 217);
  cursor: pointer;
}

.main-button-primary:focus {
  outline: 2px solid rgb(0, 123, 255, 0.4);
}

.main-button-primary:active {
  background-color: rgb(0, 105, 217, 0.8);
  cursor: pointer;
}

// Warning
.main-button-warning {
  @extend .main-button;
  background-color: rgb(255, 193, 7);
  color: black;
}

.main-button-warning:hover {
  background-color: rgb(224, 168, 0);
}

.main-button-warning:focus {
  outline: 2px solid rgb(255, 193, 7, 0.4);
}

.main-button-warning:active {
  background-color: rgb(224, 168, 0, 0.8);
  cursor: pointer;
}

.main-button-warning:disabled {
  opacity: 0.5;
}

// Info
.main-button-info {
  @extend .main-button;
  background-color: rgb(23, 162, 184);
  color: white;
}

.main-button-info:hover {
  background-color: rgb(19, 132, 150);
}

.main-button-info:focus {
  outline: 2px solid rgb(23, 162, 184, 0.4);
}

.main-button-info:active {
  background-color: rgb(19, 132, 150, 0.8);
}

// Success
.main-button-success {
  @extend .main-button;
  background-color: rgb(40, 167, 69);
  color: white;
}

.main-button-success:hover {
  background-color: rgb(33, 136, 56);
}

.main-button-success:focus {
  outline: 2px solid rgb(40, 167, 69, 0.4);
}

.main-button-success:active {
  background-color: rgb(33, 136, 56, 0.8);
}

// Danger
.main-button-danger {
  @extend .main-button;
  background-color: rgb(220, 53, 69);
  color: white;
}

.main-button-danger:hover {
  background-color: rgb(200, 35, 51);
}

.main-button-danger:focus {
  outline: 2px solid rgb(220, 53, 69, 0.4);
}

.main-button-danger:active {
  background-color: rgb(200, 35, 51, 0.8);
}
