.snackbar-success {
  --mdc-snackbar-container-color: rgb(40, 167, 69);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.snackbar-danger {
  --mdc-snackbar-container-color: rgb(220, 53, 69);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}


.snackbar-warning {
  --mdc-snackbar-container-color: rgb(255, 193, 7);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
